body{
background-color:antiquewhite;
}


.btn-click{
background-color: rgb(125, 0, 0);
color:black;
border: 2px solid rgb(81, 2, 2);
font-size: 20px;
border-radius: 6px;
padding: 10px;
cursor: pointer;
}

.btn-reiniciar{
    background-color: rgb(0, 29, 125);
    color:black;
    border: 2px solid rgb(19, 2, 81);
    font-size: 20px;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    }
    
